*{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}





body{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    font-size: 16px;
    color: #000000;
    overflow-x: hidden;
	counter-reset: section -9;
}

.order{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 100%;
	max-width: 900px;
	margin-top: 75px;
}

.order__row{
	width: 100%;
	border-top: 1px solid rgba(219, 219, 219, 1);
}

.order__row:last-child{
	border-bottom: 1px solid rgba(219, 219, 219, 1);
}

.product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 86px;
	counter-increment: section -1;
}

.product:after{
	content: counter(section) '. ';
} 

.product--deleted > div,
.product--deleted > span{
	opacity: 0.5;
	z-index: -1;
}

.product__pic {
    font-size: 0;
}

.product__title{
	width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	font-weight: 900;
}

.product__title a{
	text-decoration: none;
	color: #000000;
}

.product__parts{
	width: 210px;
	font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product__calc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    max-width: 82px;
}

.count{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 25px;
	height: 25px;
	border: 1px solid #ff0000;
	border-radius: 50%;
	color: #ff0000;
	position: relative;
	cursor: pointer;
}

.count--dekrement:before{
	content: "";
	position: absolute;
	top: 11px;
	left: 6px;
	width: 11px;
	height: 1px;
	background-color: #ff0000; 
}

.count--increment:before{
	content: "";
	position: absolute;
	top: 11px;
	left: 6px;
	width: 11px;
	height: 1px;
	background-color: #ff0000; 
}

.count--increment:after{
	content: "";
	position: absolute;
	top: 11px;
	left: 6px;
	width: 11px;
	height: 1px;
	background-color: #ff0000;
	-webkit-transform: rotate(90deg);
	        transform: rotate(90deg);
}

.count--disabled{
	opacity: 0.5;
}

.product__result{
	font-weight: 500;
}

.product__action{
	width: 82px;
	height: 25px;
	text-align: center;
	border-radius: 10px;
	border: 1px solid #bfbfbf;
	font-size: 13px;
	color: #a6a6a6;
	background-color: transparent;
	cursor: pointer;
}

.product__action--comeback{
	border-color: #ff0000;
	color: #ffffff;
	background-color: #ff0000;
}

.progress {
   	display: -webkit-box;
   	display: -ms-flexbox;
   	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 100%;
	max-width: 900px;
	margin-top: 90px;
}

.progress__row{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
	max-width: 450px;
	margin: 0 5px 40px 0;
}

.progress__tag {
	display: none;
}

.progress__rigth{
	position: relative;
}

.progress__wrapper{
	border-radius: 10px;
	overflow: hidden;
	position: relative;
}

.progress__label{
	width: 240px;
	height: 25px;
	border: 1px solid #bfbfbf;
	border-radius: 10px;
	background-color: #fff;
}

.progress__line{
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 25px;
	-webkit-transition: 1s;
	transition: 1s;
	background-color: #ff0000;
}

.progress__number{
	position: absolute;
	top: 30px;
	left: -10px;
	width: 100%;
	font-size: 13px;
	font-weight: 900;
	-webkit-transition: 1s;
	transition: 1s;
}


@media (max-width: 960px){
	.product{
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		height: auto;
		padding: 15px;
	}

	.product div,
	.product span{
		width: 100%;
		padding: 5px 0;
		text-align: center;
	}

	.product__action{
		margin-left: 15px;
	}

	.product__calc{
		margin-right: 15px;
	}

	.progress{
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}

	.progress__row{
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		padding: 0 15px;
		text-align: center;
	}

	.progress__left{
		width: 100%;
		padding-bottom: 10px;
	}

	.progress__number{
		text-align: left;
	}
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto:300,400,700|Lora:300,400,700|PT+Sans:300,400,700|Merriweather:300,400,700|PT+Serif:300,400,700|Scada:300,400,700);@-webkit-keyframes sendsay-progress-bar-stripes{from{background-position:40px 0}to{background-position:0 0}}@keyframes sendsay-progress-bar-stripes{from{background-position:40px 0}to{background-position:0 0}}.sendsay-popup *{box-sizing:border-box;background:none;background-image:none;height:auto;-webkit-font-smoothing:antialiased}.sendsay-loading{-webkit-animation:sendsay-progress-bar-stripes 2s linear infinite;animation:sendsay-progress-bar-stripes 2s linear infinite;background-image:linear-gradient(45deg, rgba(255,255,255,0.5) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0.5) 75%, transparent 75%, transparent);background-size:40px 40px}.sendsay-wrapper{position:fixed;z-index:2000000000;top:0;left:0;width:100%;height:100%;background-image:none;background-color:rgba(0,0,0,0.8);box-sizing:border-box;text-align:left;font-family:'Open Sans','Arial',sans-serif}.sendsay-wrapper.sendsay-noanimation,.sendsay-wrapper.sendsay-noanimation .sendsay-popup{-webkit-animation:none;animation:none}.sendsay-wrapper *{box-sizing:border-box;-webkit-font-smoothing:antialiased}.sendsay-popup.sendsay-left{bottom:50px;left:50px}.sendsay-popup.sendsay-right{bottom:50px;right:50px}.sendsay-popup.sendsay-centered{top:50%;left:50%;-webkit-transform:translate(-50%, -50%);transform:translate(-50%, -50%)}.sendsay-popup{background:none;background-image:none;overflow-y:auto;height:auto;text-align:left;font-family:'Open Sans','Arial',sans-serif;position:fixed;width:400px;max-height:calc(100% - 100px);padding:20px;border-radius:2px;background-color:#fff;box-shadow:0 12px 24px rgba(0,0,0,0.3);box-sizing:border-box;display:block;z-index:2000000001}.sendsay-popup .sendsay-content{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;width:100%}.sendsay-field-hidden{display:none}.sendsay-field{padding:0}.sendsay-columnwrapper{display:-webkit-box;display:-ms-flexbox;display:flex;min-width:0}.sendsay-column{-webkit-box-flex:1;-ms-flex:1;flex:1;min-width:0}.sendsay-image{min-width:0}.sendsay-field.sendsay-field-invalid .sendsay-input,.sendsay-field.sendsay-field-invalid .sendsay-input:focus{border-color:red}.sendsay-field.sendsay-field-invalid>.sendsay-label{color:red}.sendsay-error{font-size:12px;display:none;padding-top:4px;color:red}.sendsay-field.sendsay-field-invalid .sendsay-error{display:block}.sendsay-label{font-size:inherit;color:inherit;display:block;padding-bottom:4px;font-family:inherit;word-break:break-word}.sendsay-input{font-family:inherit;font-size:13px;font-weight:400;display:block;width:100%;height:30px;padding:0 8px;transition:border .2s;border:1px solid #e3e3e3;border-radius:2px;outline:none;background-color:#fff;margin:0;-webkit-font-smoothing:antialiased}.sendsay-input:focus{border-color:#007c99}.sendsay-button input{padding:10px 10px;font-weight:normal;position:relative;display:inline-block;cursor:pointer;text-align:center;vertical-align:middle;border:none;border-radius:2px;outline:none;background-color:#000000;border-radius:5px;color:#ffffff;line-height:normal;font-family:'Open Sans','Arial',sans-serif;font-size:14px;font-weight:400;-webkit-font-smoothing:antialiased;width:auto}.sendsay-text{word-break:break-word;font-family:'Open Sans','Arial',sans-serif;font-size:13px}.sendsay-title{font-size:20px;font-weight:400;margin:0;margin-bottom:20px}.sendsay-close{position:absolute;top:10px;right:10px;cursor:pointer;width:20px;height:20px}.sendsay-close__svg{width:100%}.sendsay-radioinput,.sendsay-checkinput{display:inline-block}.sendsay-radio .sendsay-label,.sendsay-checkbox .sendsay-label{display:inline-block}.sendsay-popup.sendsay-type-bar,.sendsay-popup.sendsay-type-bar.sendsay-bottom{position:fixed;bottom:0;left:0;width:100%;box-shadow:none;border-radius:0}.sendsay-popup.sendsay-type-bar .sendsay-content,.sendsay-popup.sendsay-type-bar.sendsay-bottom .sendsay-content{width:100%}.sendsay-popup.sendsay-type-bar .sendsay-columnwrapper,.sendsay-popup.sendsay-type-bar.sendsay-bottom .sendsay-columnwrapper{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.sendsay-popup.sendsay-type-bar .sendsay-column,.sendsay-popup.sendsay-type-bar.sendsay-bottom .sendsay-column{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;max-width:800px;height:50px}.sendsay-popup.sendsay-type-bar .sendsay-column>*,.sendsay-popup.sendsay-type-bar.sendsay-bottom .sendsay-column>*{padding-left:20px}.sendsay-popup.sendsay-type-bar .sendsay-label,.sendsay-popup.sendsay-type-bar.sendsay-bottom .sendsay-label{display:none}.sendsay-popup.sendsay-type-bar .sendsay-field,.sendsay-popup.sendsay-type-bar.sendsay-bottom .sendsay-field{-webkit-box-flex:2;-ms-flex-positive:2;flex-grow:2;-ms-flex-negative:1;flex-shrink:1}.sendsay-popup.sendsay-type-bar.sendsay-top{top:0;bottom:initial}.sendsay-popup.sendsay-type-bar.sendsay-top.sendsay-animation-slidetop{-webkit-animation-name:sendsay-slidetop;animation-name:sendsay-slidetop;-webkit-animation-duration:400ms;animation-duration:400ms;-webkit-animation-timing-function:linear;animation-timing-function:linear}.sendsay-popup.sendsay-type-bar.sendsay-bottom.sendsay-animation-slidebottom{-webkit-animation-name:sendsay-slidebottom;animation-name:sendsay-slidebottom;-webkit-animation-duration:400ms;animation-duration:400ms;-webkit-animation-timing-function:linear;animation-timing-function:linear}.sendsay-popup.sendsay-type-widget{position:fixed;bottom:0;right:50px;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;max-height:100%;box-shadow:0 -2px 4px rgba(0,0,0,0.3);border-radius:0}.sendsay-popup.sendsay-type-widget .sendsay-toggler{cursor:pointer;overflow:hidden}.sendsay-popup.sendsay-type-widget .sendsay-toggler .sendsay-toggler-desktop{display:block}.sendsay-popup.sendsay-type-widget .sendsay-toggler .sendsay-toggler-mobile{display:none}.sendsay-popup.sendsay-type-widget .sendsay-content{opacity:0;max-height:0;overflow:hidden;transition:max-height linear 300ms,opacity linear 300ms}.sendsay-popup.sendsay-type-widget .sendsay-close{display:block}.sendsay-popup.sendsay-type-widget.sendsay-laststep .sendsay-close{display:block}.sendsay-popup.sendsay-type-widget.sendsay-opened .sendsay-content{opacity:1;transition:max-height linear 300ms,opacity linear 300ms}.sendsay-popup.sendsay-type-widget.sendsay-opened .sendsay-cross{display:none}.sendsay-popup.sendsay-type-widget.sendsay-animation-none .sendsay-content{transition:none}.sendsay-popup.sendsay-type-widget.sendsay-opened.sendsay-animation-none .sendsay-content{transition:none}.sendsay-animation-bounce{-webkit-animation-name:sendsay-bounce;animation-name:sendsay-bounce;-webkit-animation-duration:400ms;animation-duration:400ms;-webkit-animation-timing-function:cubic-bezier(.175, .885, .32, 1.275);animation-timing-function:cubic-bezier(.175, .885, .32, 1.275)}.sendsay-centered.sendsay-animation-bounce{-webkit-animation-name:sendsay-bounce-centered;animation-name:sendsay-bounce-centered;-webkit-animation-duration:400ms;animation-duration:400ms;-webkit-animation-timing-function:cubic-bezier(.175, .885, .32, 1.275);animation-timing-function:cubic-bezier(.175, .885, .32, 1.275)}@keyframes sendsay-bounce{from,20%,40%,60%,80%,to{-webkit-animation-timing-function:cubic-bezier(.215, .61, .355, 1);animation-timing-function:cubic-bezier(.215, .61, .355, 1)}0%{opacity:0;-webkit-transform:scale3d(.3, .3, .3);transform:scale3d(.3, .3, .3)}20%{-webkit-transform:scale3d(1.1, 1.1, 1.1);transform:scale3d(1.1, 1.1, 1.1)}40%{-webkit-transform:scale3d(.9, .9, .9);transform:scale3d(.9, .9, .9)}60%{opacity:1;-webkit-transform:scale3d(1.03, 1.03, 1.03);transform:scale3d(1.03, 1.03, 1.03)}80%{-webkit-transform:scale3d(.97, .97, .97);transform:scale3d(.97, .97, .97)}to{opacity:1;-webkit-transform:scale3d(1, 1, 1);transform:scale3d(1, 1, 1)}}@keyframes sendsay-bounce-centered{from,20%,40%,60%,80%,to{-webkit-animation-timing-function:cubic-bezier(.215, .61, .355, 1);animation-timing-function:cubic-bezier(.215, .61, .355, 1)}0%{opacity:0;-webkit-transform:translate3d(-50%, -50%, 0) scale3d(.3, .3, .3);transform:translate3d(-50%, -50%, 0) scale3d(.3, .3, .3)}20%{-webkit-transform:translate3d(-50%, -50%, 0) scale3d(1.1, 1.1, 1.1);transform:translate3d(-50%, -50%, 0) scale3d(1.1, 1.1, 1.1)}40%{-webkit-transform:translate3d(-50%, -50%, 0) scale3d(.9, .9, .9);transform:translate3d(-50%, -50%, 0) scale3d(.9, .9, .9)}60%{opacity:1;-webkit-transform:translate3d(-50%, -50%, 0) scale3d(1.03, 1.03, 1.03);transform:translate3d(-50%, -50%, 0) scale3d(1.03, 1.03, 1.03)}80%{-webkit-transform:translate3d(-50%, -50%, 0) scale3d(.97, .97, .97);transform:translate3d(-50%, -50%, 0) scale3d(.97, .97, .97)}to{opacity:1;-webkit-transform:translate3d(-50%, -50%, 0) scale3d(1, 1, 1);transform:translate3d(-50%, -50%, 0) scale3d(1, 1, 1)}}@-webkit-keyframes sendsay-bounce{from,20%,40%,60%,80%,to{-webkit-animation-timing-function:cubic-bezier(.215, .61, .355, 1);animation-timing-function:cubic-bezier(.215, .61, .355, 1)}0%{opacity:0;-webkit-transform:scale3d(.3, .3, .3);transform:scale3d(.3, .3, .3)}20%{-webkit-transform:scale3d(1.1, 1.1, 1.1);transform:scale3d(1.1, 1.1, 1.1)}40%{-webkit-transform:scale3d(.9, .9, .9);transform:scale3d(.9, .9, .9)}60%{opacity:1;-webkit-transform:scale3d(1.03, 1.03, 1.03);transform:scale3d(1.03, 1.03, 1.03)}80%{-webkit-transform:scale3d(.97, .97, .97);transform:scale3d(.97, .97, .97)}to{opacity:1;-webkit-transform:scale3d(1, 1, 1);transform:scale3d(1, 1, 1)}}@-webkit-keyframes sendsay-bounce-centered{from,20%,40%,60%,80%,to{-webkit-animation-timing-function:cubic-bezier(.215, .61, .355, 1);animation-timing-function:cubic-bezier(.215, .61, .355, 1)}0%{opacity:0;-webkit-transform:translate3d(-50%, -50%, 0) scale3d(.3, .3, .3);transform:translate3d(-50%, -50%, 0) scale3d(.3, .3, .3)}20%{-webkit-transform:translate3d(-50%, -50%, 0) scale3d(1.1, 1.1, 1.1);transform:translate3d(-50%, -50%, 0) scale3d(1.1, 1.1, 1.1)}40%{-webkit-transform:translate3d(-50%, -50%, 0) scale3d(.9, .9, .9);transform:translate3d(-50%, -50%, 0) scale3d(.9, .9, .9)}60%{opacity:1;-webkit-transform:translate3d(-50%, -50%, 0) scale3d(1.03, 1.03, 1.03);transform:translate3d(-50%, -50%, 0) scale3d(1.03, 1.03, 1.03)}80%{-webkit-transform:translate3d(-50%, -50%, 0) scale3d(.97, .97, .97);transform:translate3d(-50%, -50%, 0) scale3d(.97, .97, .97)}to{opacity:1;-webkit-transform:translate3d(-50%, -50%, 0) scale3d(1, 1, 1);transform:translate3d(-50%, -50%, 0) scale3d(1, 1, 1)}}.sendsay-animation-bounceUp{-webkit-animation-name:sendsay-bounceUp;animation-name:sendsay-bounceUp;-webkit-animation-duration:400ms;animation-duration:400ms;-webkit-animation-timing-function:cubic-bezier(.175, .885, .32, 1.275);animation-timing-function:cubic-bezier(.175, .885, .32, 1.275)}.sendsay-centered.sendsay-animation-bounceUp{-webkit-animation-name:sendsay-bounceUp-centered;animation-name:sendsay-bounceUp-centered;-webkit-animation-duration:400ms;animation-duration:400ms;-webkit-animation-timing-function:cubic-bezier(.175, .885, .32, 1.275);animation-timing-function:cubic-bezier(.175, .885, .32, 1.275)}@keyframes sendsay-bounceUp{from,60%,75%,90%,to{-webkit-animation-timing-function:cubic-bezier(.215, .61, .355, 1);animation-timing-function:cubic-bezier(.215, .61, .355, 1)}from{opacity:0;-webkit-transform:translate3d(0, 3000px, 0);transform:translate3d(0, 3000px, 0)}60%{opacity:1;-webkit-transform:translate3d(0, -20px, 0);transform:translate3d(0, -20px, 0)}75%{-webkit-transform:translate3d(0, 10px, 0);transform:translate3d(0, 10px, 0)}90%{-webkit-transform:translate3d(0, -5px, 0);transform:translate3d(0, -5px, 0)}to{-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}}@keyframes sendsay-bounceUp-centered{from,60%,75%,90%,to{-webkit-animation-timing-function:cubic-bezier(.215, .61, .355, 1);animation-timing-function:cubic-bezier(.215, .61, .355, 1)}from{opacity:0;-webkit-transform:translate3d(-50%, 3000px, 0);transform:translate3d(-50%, 3000px, 0)}60%{opacity:1;-webkit-transform:translate3d(-50%, -50%, 0) translate3d(0, -20px, 0);transform:translate3d(-50%, -50%, 0) translate3d(0, -20px, 0)}75%{-webkit-transform:translate3d(-50%, -50%, 0) translate3d(0, 10px, 0);transform:translate3d(-50%, -50%, 0) translate3d(0, 10px, 0)}90%{-webkit-transform:translate3d(-50%, -50%, 0) translate3d(0, -5px, 0);transform:translate3d(-50%, -50%, 0) translate3d(0, -5px, 0)}to{-webkit-transform:translate3d(-50%, -50%, 0);transform:translate3d(-50%, -50%, 0)}}@-webkit-keyframes sendsay-bounceUp{from,60%,75%,90%,to{-webkit-animation-timing-function:cubic-bezier(.215, .61, .355, 1);animation-timing-function:cubic-bezier(.215, .61, .355, 1)}from{opacity:0;-webkit-transform:translate3d(0, 3000px, 0);transform:translate3d(0, 3000px, 0)}60%{opacity:1;-webkit-transform:translate3d(0, -20px, 0);transform:translate3d(0, -20px, 0)}75%{-webkit-transform:translate3d(0, 10px, 0);transform:translate3d(0, 10px, 0)}90%{-webkit-transform:translate3d(0, -5px, 0);transform:translate3d(0, -5px, 0)}to{-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}}@-webkit-keyframes sendsay-bounceUp-centered{from,60%,75%,90%,to{-webkit-animation-timing-function:cubic-bezier(.215, .61, .355, 1);animation-timing-function:cubic-bezier(.215, .61, .355, 1)}from{opacity:0;-webkit-transform:translate3d(-50%, 3000px, 0);transform:translate3d(-50%, 3000px, 0)}60%{opacity:1;-webkit-transform:translate3d(-50%, -50%, 0) translate3d(0, -20px, 0);transform:translate3d(-50%, -50%, 0) translate3d(0, -20px, 0)}75%{-webkit-transform:translate3d(-50%, -50%, 0) translate3d(0, 10px, 0);transform:translate3d(-50%, -50%, 0) translate3d(0, 10px, 0)}90%{-webkit-transform:translate3d(-50%, -50%, 0) translate3d(0, -5px, 0);transform:translate3d(-50%, -50%, 0) translate3d(0, -5px, 0)}to{-webkit-transform:translate3d(-50%, -50%, 0);transform:translate3d(-50%, -50%, 0)}}.sendsay-animation-bounceDown{-webkit-animation-name:sendsay-bounceInDown-centered;animation-name:sendsay-bounceInDown-centered;-webkit-animation-duration:400ms;animation-duration:400ms}@keyframes sendsay-bounceInDown-centered{from,60%,75%,90%,to{-webkit-animation-timing-function:cubic-bezier(.215, .61, .355, 1);animation-timing-function:cubic-bezier(.215, .61, .355, 1)}0%{opacity:0;-webkit-transform:translate3d(-50%, -3000px, 0);transform:translate3d(-50%, -3000px, 0)}60%{opacity:1;-webkit-transform:translate3d(-50%, -50%, 0) translate3d(0, 25px, 0);transform:translate3d(-50%, -50%, 0) translate3d(0, 25px, 0)}75%{-webkit-transform:translate3d(-50%, -50%, 0) translate3d(0, -10px, 0);transform:translate3d(-50%, -50%, 0) translate3d(0, -10px, 0)}90%{-webkit-transform:translate3d(-50%, -50%, 0) translate3d(0, 5px, 0);transform:translate3d(-50%, -50%, 0) translate3d(0, 5px, 0)}to{-webkit-transform:translate3d(-50%, -50%, 0);transform:translate3d(-50%, -50%, 0)}}@-webkit-keyframes sendsay-bounceInDown-centered{from,60%,75%,90%,to{-webkit-animation-timing-function:cubic-bezier(.215, .61, .355, 1);animation-timing-function:cubic-bezier(.215, .61, .355, 1)}0%{opacity:0;-webkit-transform:translate3d(-50%, -3000px, 0);transform:translate3d(-50%, -3000px, 0)}60%{opacity:1;-webkit-transform:translate3d(-50%, -50%, 0) translate3d(0, 25px, 0);transform:translate3d(-50%, -50%, 0) translate3d(0, 25px, 0)}75%{-webkit-transform:translate3d(-50%, -50%, 0) translate3d(0, -10px, 0);transform:translate3d(-50%, -50%, 0) translate3d(0, -10px, 0)}90%{-webkit-transform:translate3d(-50%, -50%, 0) translate3d(0, 5px, 0);transform:translate3d(-50%, -50%, 0) translate3d(0, 5px, 0)}to{-webkit-transform:translate3d(-50%, -50%, 0);transform:translate3d(-50%, -50%, 0)}}.sendsay-animation-bounceLeft{-webkit-animation-name:sendsay-bounceInLeft;animation-name:sendsay-bounceInLeft;-webkit-animation-duration:400ms;animation-duration:400ms;-webkit-animation-timing-function:cubic-bezier(.175, .885, .32, 1.275);animation-timing-function:cubic-bezier(.175, .885, .32, 1.275)}@keyframes sendsay-bounceInLeft{from,60%,75%,90%,to{-webkit-animation-timing-function:cubic-bezier(.215, .61, .355, 1);animation-timing-function:cubic-bezier(.215, .61, .355, 1)}0%{opacity:0;-webkit-transform:translate3d(-3000px, 0, 0);transform:translate3d(-3000px, 0, 0)}60%{opacity:1;-webkit-transform:translate3d(25px, 0, 0);transform:translate3d(25px, 0, 0)}75%{-webkit-transform:translate3d(-10px, 0, 0);transform:translate3d(-10px, 0, 0)}90%{-webkit-transform:translate3d(5px, 0, 0);transform:translate3d(5px, 0, 0)}to{-webkit-transform:none;transform:none}}@-webkit-keyframes sendsay-bounceInLeft{from,60%,75%,90%,to{-webkit-animation-timing-function:cubic-bezier(.215, .61, .355, 1);animation-timing-function:cubic-bezier(.215, .61, .355, 1)}0%{opacity:0;-webkit-transform:translate3d(-3000px, 0, 0);transform:translate3d(-3000px, 0, 0)}60%{opacity:1;-webkit-transform:translate3d(25px, 0, 0);transform:translate3d(25px, 0, 0)}75%{-webkit-transform:translate3d(-10px, 0, 0);transform:translate3d(-10px, 0, 0)}90%{-webkit-transform:translate3d(5px, 0, 0);transform:translate3d(5px, 0, 0)}to{-webkit-transform:none;transform:none}}.sendsay-animation-bounceRight{-webkit-animation-name:sendsay-bounceInRight;animation-name:sendsay-bounceInRight;-webkit-animation-duration:400ms;animation-duration:400ms;-webkit-animation-timing-function:cubic-bezier(.175, .885, .32, 1.275);animation-timing-function:cubic-bezier(.175, .885, .32, 1.275)}@keyframes sendsay-bounceInRight{from,60%,75%,90%,to{-webkit-animation-timing-function:cubic-bezier(.215, .61, .355, 1);animation-timing-function:cubic-bezier(.215, .61, .355, 1)}from{opacity:0;-webkit-transform:translate3d(3000px, 0, 0);transform:translate3d(3000px, 0, 0)}60%{opacity:1;-webkit-transform:translate3d(-25px, 0, 0);transform:translate3d(-25px, 0, 0)}75%{-webkit-transform:translate3d(10px, 0, 0);transform:translate3d(10px, 0, 0)}90%{-webkit-transform:translate3d(-5px, 0, 0);transform:translate3d(-5px, 0, 0)}to{-webkit-transform:none;transform:none}}@-webkit-keyframes sendsay-bounceInRight{from,60%,75%,90%,to{-webkit-animation-timing-function:cubic-bezier(.215, .61, .355, 1);animation-timing-function:cubic-bezier(.215, .61, .355, 1)}from{opacity:0;-webkit-transform:translate3d(3000px, 0, 0);transform:translate3d(3000px, 0, 0)}60%{opacity:1;-webkit-transform:translate3d(-25px, 0, 0);transform:translate3d(-25px, 0, 0)}75%{-webkit-transform:translate3d(10px, 0, 0);transform:translate3d(10px, 0, 0)}90%{-webkit-transform:translate3d(-5px, 0, 0);transform:translate3d(-5px, 0, 0)}to{-webkit-transform:none;transform:none}}.sendsay-animation-fade{-webkit-animation-name:sendsay-fadeIn;animation-name:sendsay-fadeIn;-webkit-animation-duration:400ms;animation-duration:400ms;-webkit-animation-timing-function:cubic-bezier(.175, .885, .32, 1.275);animation-timing-function:cubic-bezier(.175, .885, .32, 1.275)}@keyframes sendsay-fadeIn{from{opacity:0}to{opacity:1}}@-webkit-keyframes sendsay-fadeIn{from{opacity:0}to{opacity:1}}.sendsay-animation-fadeUp{-webkit-animation-name:sendsay-fadeInUp;animation-name:sendsay-fadeInUp;-webkit-animation-duration:400ms;animation-duration:400ms}.sendsay-centered.sendsay-animation-fadeUp{-webkit-animation-name:sendsay-fadeInUp-centered;animation-name:sendsay-fadeInUp-centered;-webkit-animation-duration:400ms;animation-duration:400ms}@keyframes sendsay-fadeInUp{from{opacity:0;-webkit-transform:translate3d(0, 100%, 0);transform:translate3d(0, 100%, 0)}to{opacity:1;-webkit-transform:none;transform:none}}@keyframes sendsay-fadeInUp-centered{from{opacity:0;-webkit-transform:translate3d(-50%, 100%, 0);transform:translate3d(-50%, 100%, 0)}to{opacity:1;-webkit-transform:translate3d(-50%, -50%, 0);transform:translate3d(-50%, -50%, 0)}}@-webkit-keyframes sendsay-fadeInUp{from{opacity:0;-webkit-transform:translate3d(0, 100%, 0);transform:translate3d(0, 100%, 0)}to{opacity:1;-webkit-transform:none;transform:none}}@-webkit-keyframes sendsay-fadeInUp-centered{from{opacity:0;-webkit-transform:translate3d(-50%, 100%, 0);transform:translate3d(-50%, 100%, 0)}to{opacity:1;-webkit-transform:translate3d(-50%, -50%, 0);transform:translate3d(-50%, -50%, 0)}}.sendsay-centered.sendsay-animation-fadeDown{-webkit-animation-name:sendsay-fadeInDown-centered;animation-name:sendsay-fadeInDown-centered;-webkit-animation-duration:400ms;animation-duration:400ms}@keyframes sendsay-fadeInDown-centered{from{opacity:0;-webkit-transform:translate3d(-50%, -100%, 0);transform:translate3d(-50%, -100%, 0)}to{opacity:1;-webkit-transform:translate3d(-50%, -50%, 0);transform:translate3d(-50%, -50%, 0)}}@-webkit-keyframes sendsay-fadeInDown-centered{from{opacity:0;-webkit-transform:translate3d(-50%, -100%, 0);transform:translate3d(-50%, -100%, 0)}to{opacity:1;-webkit-transform:translate3d(-50%, -50%, 0);transform:translate3d(-50%, -50%, 0)}}.sendsay-animation-fadeLeft{-webkit-animation-name:sendsay-fadeInLeft;animation-name:sendsay-fadeInLeft;-webkit-animation-duration:400ms;animation-duration:400ms}@keyframes sendsay-fadeInLeft{from{opacity:0;-webkit-transform:translate3d(-100%, 0, 0);transform:translate3d(-100%, 0, 0)}to{opacity:1;-webkit-transform:none;transform:none}}@-webkit-keyframes sendsay-fadeInLeft{from{opacity:0;-webkit-transform:translate3d(-100%, 0, 0);transform:translate3d(-100%, 0, 0)}to{opacity:1;-webkit-transform:none;transform:none}}.sendsay-animation-fadeRight{-webkit-animation-name:sendsay-fadeInRight;animation-name:sendsay-fadeInRight;-webkit-animation-duration:400ms;animation-duration:400ms;-webkit-animation-timing-function:cubic-bezier(.175, .885, .32, 1.275);animation-timing-function:cubic-bezier(.175, .885, .32, 1.275)}@keyframes sendsay-fadeInRight{from{opacity:0;-webkit-transform:translate3d(100%, 0, 0);transform:translate3d(100%, 0, 0)}to{opacity:1;-webkit-transform:none;transform:none}}@-webkit-keyframes sendsay-fadeInRight{from{opacity:0;-webkit-transform:translate3d(100%, 0, 0);transform:translate3d(100%, 0, 0)}to{opacity:1;-webkit-transform:none;transform:none}}.sendsay-animation-zoom{-webkit-animation-name:sendsay-zoomIn;animation-name:sendsay-zoomIn;-webkit-animation-duration:400ms;animation-duration:400ms;-webkit-animation-timing-function:cubic-bezier(.175, .885, .32, 1.275);animation-timing-function:cubic-bezier(.175, .885, .32, 1.275)}.sendsay-centered.sendsay-animation-zoom{-webkit-animation-name:sendsay-zoomIn-centered;animation-name:sendsay-zoomIn-centered;-webkit-animation-duration:400ms;animation-duration:400ms;-webkit-animation-timing-function:cubic-bezier(.175, .885, .32, 1.275);animation-timing-function:cubic-bezier(.175, .885, .32, 1.275)}@keyframes sendsay-zoomIn{from{opacity:0;-webkit-transform:scale3d(.3, .3, .3);transform:scale3d(.3, .3, .3)}50%{opacity:1}}@keyframes sendsay-zoomIn-centered{from{opacity:0;-webkit-transform:translate3d(-50%, -50%, 0) scale3d(.3, .3, .3);transform:translate3d(-50%, -50%, 0) scale3d(.3, .3, .3)}50%{opacity:1}}@-webkit-keyframes sendsay-zoomIn{from{opacity:0;-webkit-transform:scale3d(.3, .3, .3);transform:scale3d(.3, .3, .3)}50%{opacity:1}}@-webkit-keyframes sendsay-zoomIn-centered{from{opacity:0;-webkit-transform:translate3d(-50%, -50%, 0) scale3d(.3, .3, .3);transform:translate3d(-50%, -50%, 0) scale3d(.3, .3, .3)}50%{opacity:1}}.sendsay-animation-swing{-webkit-animation-name:sendsay-swing;animation-name:sendsay-swing;-webkit-animation-duration:400ms;animation-duration:400ms;-webkit-animation-timing-function:cubic-bezier(.175, .885, .32, 1.275);animation-timing-function:cubic-bezier(.175, .885, .32, 1.275)}@keyframes sendsay-swing{20%{-webkit-transform:translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 15deg);transform:translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 15deg)}40%{-webkit-transform:translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -10deg);transform:translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -10deg)}60%{-webkit-transform:translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 5deg);transform:translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 5deg)}80%{-webkit-transform:translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -5deg);transform:translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -5deg)}to{-webkit-transform:translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 0deg);transform:translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 0deg)}}@-webkit-keyframes sendsay-swing{20%{-webkit-transform:translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 15deg);transform:translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 15deg)}40%{-webkit-transform:translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -10deg);transform:translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -10deg)}60%{-webkit-transform:translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 5deg);transform:translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 5deg)}80%{-webkit-transform:translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -5deg);transform:translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -5deg)}to{-webkit-transform:translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 0deg);transform:translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 0deg)}}.sendsay-animation-none{-webkit-animation-name:none;animation-name:none}@-webkit-keyframes sendsay-slidetop{0%{-webkit-transform:translate(0, -100%);transform:translate(0, -100%)}to{-webkit-transform:translate(0, 0);transform:translate(0, 0)}}@keyframes sendsay-slidetop{0%{-webkit-transform:translate(0, -100%);transform:translate(0, -100%)}to{-webkit-transform:translate(0, 0);transform:translate(0, 0)}}@-webkit-keyframes sendsay-slidebottom{0%{-webkit-transform:translate(0, 100%);transform:translate(0, 100%)}to{-webkit-transform:translate(0, 0);transform:translate(0, 0)}}@keyframes sendsay-slidebottom{0%{-webkit-transform:translate(0, 100%);transform:translate(0, 100%)}to{-webkit-transform:translate(0, 0);transform:translate(0, 0)}}
